body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f8e9ee;
}

.top {
    background: #d36a8a;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 22px;
    font-weight: bold;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.container {
    padding: 30px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    color: #d36a8a;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
    font-size: 18px;
    font-weight: bold;
}

.card .icon {
    font-size: 35px;
    margin-bottom: 10px;
}


/* animation */

.card:hover {
    transform: scale(1.07);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}