            * {
                box-sizing: border-box;
            }
            
             :root {
                --pink: #f07b8f;
                --bg: #fff6f8;
                --card: #fff;
                --text: #222;
            }
            
            body {
                font-family: "Segoe UI", Tahoma, Arial, sans-serif;
                background: linear-gradient(180deg, #fff, #fff6f8 200px);
                color: var(--text);
                margin: 0;
                padding: 0;
            }
            
            .container {
                max-width: 980px;
                margin: 18px auto;
                padding: 12px
            }
            
            header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 12px;
                margin-bottom: 18px;
            }
            
            .navbar {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 15px 40px;
                border-bottom: 1px solid #eee;
            }
            
            nav a {
                margin-left: 12px;
                text-decoration: none;
                color: #666;
                padding: 6px 10px;
                border-radius: 8px;
            }
            
            nav a.active,
            nav a:hover {
                background: var(--pink);
                color: #fff;
            }
            
            .title {
                text-align: center;
                font-size: 22px;
                color: #333;
                margin-bottom: 25px;
            }
            
            .list {
                display: flex;
                /*la ysero tht b3d*/
                flex-direction: column;
                /*instead of margin*/
                gap: 15px;
            }
            
            .card {
                background: #fff;
                display: flex;
                align-items: center;
                padding: 12px;
                border-radius: 12px;
                box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
                gap: 12px;
            }
            
            .card .img {
                width: 70px;
                height: 70px;
                border-radius: 10px;
                object-fit: cover;
            }
            
            .info h3 {
                font-size: 16px;
                color: #333;
                margin-bottom: 4px;
            }
            
            .info p {
                font-size: 12px;
                color: #777;
            }
            
            .remove {
                margin-left: auto;
                background: #e76f91;
                color: white;
                padding: 6px 10px;
                border-radius: 8px;
                text-decoration: none;
                font-size: 14px;
                transition: 0.2s;
            }
            
            .remove:hover {
                background: #d85b7d;
            }