body {
    background: #d36a8a;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 80px;
}

.card {
    background: #f2c1cf;
    width: 160px;
    height: 160px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: 0.2s;
    margin-top: 120px;
}

.card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.icon {
    font-size: 50px;
    margin-bottom: 10px;
    color: #d46a8b;
}

.top {
    padding: 20px;
    color: rgb(41, 7, 7);
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}